.select2-dropdown {
  z-index: 9999 !important;
}

.plot-x-label {
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.plot-y-label-container {
  position: relative;
  float: left;
}

.plot-y-label {
  position: absolute;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform-origin: left top 0;
  white-space: nowrap;
}

.below-nav-collapse {
  background-color: #e7e7e7;
  border-bottom: 1px solid #555;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-flush-bottom {
  margin-bottom: 0;
}

.grid-setup {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.margin-top {
  margin-top: 10px;
}

.cell {
  border: 1px solid #777;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.cell-title > h2 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  float: left;
}

.cell-title > button {
  float: right;
  border: 1px solid cyan;
}

.cell-text {
}

.cell-text-field {
  float: left;
}

.cell-text-value {
  float: right;
}
